{% extends "template/global.html" %} 
{% load custom_tags %}

{% block title %}
Dashboard
{% endblock %}

{% block content %} 

<style>
  .hover-shadow:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  }

  /* Estilo customizado para hover nas linhas da tabela */
  .custom-table tbody tr:hover {
    background-color: #f2f2f2;
  }
  
  /* Estilo para remover bordas entre colunas */
  .custom-table thead th, .custom-table tbody td {
    border-left: none;
    border-right: none;
  }
  
  /* Padding extra nas células para uma sensação espaçosa */
  .custom-table th, .custom-table td {
    padding: 20px 10px;
  }
  
  /* Estilo para bordas arredondadas na tabela */
  .custom-table-container {
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Adiciona sombra à tabela */
  }

  .container-rounded {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Adiciona sombra ao container */
  }

  .square-box {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Adiciona sombra ao quadrado */
    transition: transform 0.3s ease-in-out; /* Adiciona transição de hover */
  }

  .square-box:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  }

  .date-format {
    font-size: 1.2rem;
  }

  #jurisdicionada-input {
    width: 300px; /* Largura limitada */
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    transition: border-color 0.3s ease-in-out;
    margin-bottom: 15px; /* Espaçamento inferior */
  }

  /* Estilo para mudar a cor da borda quando o input estiver focado */
  #jurisdicionada-input:focus {
    outline: none;
    border-color: #007bff;
  }

  /* Estilo para os itens do autocompletar usando Bootstrap */
  .ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
  }

  /* Estilo para cada item do autocompletar */
  .ui-menu-item {
    padding: 10px;
    cursor: pointer;
  }

  /* Estilo quando um item do autocompletar estiver focado */
  .ui-state-focus {
    background-color: #007bff;
    color: white;
  }

  /* Estilo do badge para jurisdicionada selecionada */
.jurisdicionada-badge {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #333;
    color: white;
    margin-top: 10px; /* Espaço acima do badge */
    position: relative;
}

/* Estilo do botão 'x' para fechar/remover o badge */
.jurisdicionada-badge .close-badge {
    background-color: #555;
    border-radius: 50%;
    position: absolute;
    right: -5px;
    top: -5px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
}


  
</style>
  <div class="container my-4 container-rounded">
    <div class="row">
      <div class="col-lg-12">
        <div class="square-box mb-3 d-flex justify-content-around">
          <h1 class="display-5">
            Jurisdicionadas
          </h1>
          <h1 class="display-5">
            {% if data %}
              {{ data|get_formated_data }}
            {% else %}
              {{ data_atual|get_formated_data }}
            {% endif %}
          </h1>
        </div>
      </div>
    </div>
    <!-- Formulário começa aqui -->
    <form action="{% url 'mpc:search_info_jurisdicionada' %}" method="GET">
        <div class="input-group">
          <!-- Dropdown de Jurisdicionada -->
          <div class="dropdown me-2"> <!-- me-2 é uma classe do Bootstrap para dar margem à direita -->
              <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                  Selecione Jurisdicionada
              </button>
              <div class="dropdown-menu p-4">
                  <div class="mb-3">
                      <label for="jurisdicionada-input" class="form-label">Jurisdicionada</label>
                      <input type="text" id="jurisdicionada-input" placeholder="Digite o nome da jurisdicionada" class="form-control">
                  </div>
              </div>
              
          </div>
          
          <!-- Input de busca -->
          <input type="text" class="form-control me-2" placeholder="Buscar..." name="q"> <!-- me-2 é uma classe do Bootstrap para dar margem à direita -->
          
          <!-- Botão de busca -->
          <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">Buscar</button>
          </div>
        </div>
        <!-- Container do badge da jurisdicionada selecionada -->
        <div class="selected-jurisdicionada"></div>
        {% if data %}
        <input type="hidden" name="data_publicacao" value="{{ data }}">
        {% endif %}
        <input type="hidden" id="jurisdicionada-id" name="jurisdicionada_id" value="">
    </form>
    
    

    <div class="row mt-3">
      <div class="col-lg-6 mb-4 d-flex align-items-stretch">
        <div class="p-4 bg-white rounded shadow hover-shadow flex-grow-1">
          <h4 class="mb-4">Informações do Usuário</h4>
          <div class="d-flex justify-content-between">
            <div class="info-item">
              <strong>Assessor:</strong>
              <p class="text-muted">{{ request.user.username|capfirst }}</p>
            </div>
            <div class="info-item">
              <strong>Unidade:</strong>
              <p class="text-muted">{{ unidade }}</p>
            </div>
          </div>
        </div>
      </div>
    

      <div class="col-lg-6 mb-4 d-flex align-items-stretch">
        <!-- Seção de Busca por Datas -->
        <div class="p-3 bg-white rounded shadow hover-shadow flex-grow-1">
          <h4 class="mb-3">Buscar por Datas</h4>
          <form method="get" class="row">
            <div class="col-sm-8">
              <input type="date" {% if data %}value="{{ data }}" {% endif %} name="data_publicacao" class="form-control">
            </div>
            <div class="col-sm-4">
              <button type="submit" class="btn btn-primary">Buscar</button>
              <a href="{% url 'mpc:dashboard' %}" class="btn btn-success">Hoje</a>
            </div>
          </form>
        </div>
      </div>
    </div>

  <!-- Tabela de Jurisdicionadas -->
<div class="row">
  <div class="col-lg-12">
    <div class="table-responsive custom-table-container">
      <table class="table table-hover custom-table mb-0">
        <thead class="bg-primary text-white">
          <tr>
            <th scope="col">Identificador</th>
            <th scope="col">Nome</th>
            <th scope="col">Sigla</th>
            <th scope="col">Seção I</th>
            <th scope="col">Seção III</th>
          </tr>
        </thead>
        <tbody>
          {% for jurisdicionada in jurisdicionadas %}
          <tr>
            <td> 
              {% if jurisdicionada.coDemandante %}
                {{jurisdicionada.coDemandante}}
              {% endif %} </td>
            <td>         
                {{jurisdicionada.nome}}
            </td>
            <td>{{jurisdicionada.sigla|default:'-'}}</td>
            <td>

              {% if info|get_item:jurisdicionada.coDemandante|get_item_by_secao:'I'|length > 0 %}
                <a class="text-primary" href="{% url 'mpc:publicacao' coDemandante=jurisdicionada.coDemandante secao='I' %}{% if data %}?data_publicacao={{ data }}{% endif %}">
                  {{ info|get_item:jurisdicionada.coDemandante|get_item_by_secao:'I'|length }}
                </a>
              {% else %}
                0
              {% endif %}

            </td>
            <td>
              <ul>
                {% if info|get_item:jurisdicionada.coDemandante|get_item_by_secao:'III'|length > 0 %}
                  <a class="text-primary" href="{% url 'mpc:publicacao' coDemandante=jurisdicionada.coDemandante secao='III' %}{% if data %}?data_publicacao={{ data }}{% endif %}">
                    {{ info|get_item:jurisdicionada.coDemandante|get_item_by_secao:'III'|length }}
                  </a>
                {% else %}
                  0
                {% endif %}
              </ul>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

<script>
  $(function() {
    $("#jurisdicionada-input").autocomplete({
        source: "{% url 'mpc:autocomplete_jurisdicionada' %}",
        minLength: 2, // Número mínimo de caracteres para acionar o autocompletar
        select: function(event, ui) {
          $("#jurisdicionada-input").val("");  // Limpa o campo de texto após a seleção
          $("#jurisdicionada-id").val(ui.item.value);

          // Cria o badge da jurisdicionada selecionada
          var badgeHTML = `<div class="jurisdicionada-badge">
                              ${ui.item.label}
                              <span class="close-badge" onclick="removeJurisdicionadaBadge()">×</span>
                           </div>`;
          $(".selected-jurisdicionada").html(badgeHTML);
          return false;
      }
    });
  });
  
  // Função para remover o badge quando o 'x' for clicado
  function removeJurisdicionadaBadge() {
    $(".selected-jurisdicionada").empty();
    $("#jurisdicionada-id").val("");
  }

  </script>
  


{% endblock %}
